/* .example{
    padding: 20px;
    color: rgb(255, 255, 255);
}
/* pantalla extra pequeña 600 o menos */
/* @media only screen and (max-width: 600px) {
    .example{
        background-color: red;
    }
} */
/* dispositivos pequeños 600 px y subiendo */
/* @media only screen and (min-width:600px){
    .example{
        background-color: green;
    }
} */
/* Dispositivos medianos 768px y subiendo */
/* @media only screen and (min-width: 768px){
    .example{
        background-color: blue;
    }
} */
/* Dispositivos medios ejemplo tabletas */
/* @media only screen and (min-width: 992px){
    .example{
        background-color: orangered
    }
} */
/* Dispositivos extra grandes ejemplos monitores de PC */
/* @media only screen and (min-width: 1200px){
    .example{
        background-color: pink;
    }
} */ 

.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}
.stretch{
    justify-content: stretch;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    
}
.contenedor1{
    display: flex;
    justify-content: space-around;
    
}
.contenedor2{
    display: flex;
    justify-content: flex-end;
  
}
.container{
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}
/* .box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #0a7f39;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.row{
    flex-direction: row;
}

 .column{
    flex-direction: column;
} 

.items{
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 10px;

}

.cajonera{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #0a7f39;
    border: 1px solid #ccc;
}

.redes{
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.logoms{
    font-size: 15px;
    color:blue;
}
.logowsp{
    font-size: 15px;
    color:green;
    
}
.logolin{
    font-size: 15px;
    color:blue;
    
}
.logoins{
    font-size: 15px;
    color:rgb(254, 6, 180);
}
a:visited{
    color: #980101;
    text-decoration: none;
    font-size: medium; 
    font-weight: bold;
}

  
    
    
