body{
    background-color: #111112;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(135deg, #4ffe89, #203233);
    color: rgb(11, 11, 11);
    padding: 60px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 60px 20px;

}
.icono {
    position: absolute;     /* Posicionamiento absoluto */
    top: 10px;              /* Distancia desde arriba */
    left: 10px;             /* Distancia desde la izquierda */
    font-size: 30px;        /* Tamaño del ícono */
    color: white;           /* Color del ícono */
    text-decoration: none;  /* Sin subrayado */
    z-index: 1000;          /* Se asegura que esté por encima de todo */
}
.icono:hover {
    color: #ffd700; /* dorado */
    transform: scale(1.2);
    transition: 0.3s ease;
}
.contenedor-imagen{   
     background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Boyz_II_Men_-_Walmart_%281%29.jpg/420px-Boyz_II_Men_-_Walmart_%281%29.jpg');
     width: 100vw;
     height: 100vh;
     font-size: 23px;
     color: #0f0b09 ;
     text-align: center;
     background-size: cover;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
 
}
.contenedor-imagenes2{
    width: 5px;
    height: 5px;
  
}
#btnVolverArriba {
  display: none; /* Oculto al principio */
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: #4facfe;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

#btnVolverArriba:hover {
  background-color: #00f2fe;
  transform: scale(1.1);
}

.redes{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.logoms {
  color: #0084ff;
}
.logowsp {
  color: #25D366;
}
.logolin {
  color: #0077b5;
}
.logoins {
  color: #C13584;
}
a:visited{
    color: #980101;
    text-decoration: none;
    font-size: medium; 
    font-weight: bold;
}
.pie-pagina{
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: relative;
  bottom: 0;


}
.pie-pagina:hover{
    color: #050505;
    text-shadow: 2px 2px 4px #87a900;
    transform: scale(1.1);
    transition: all 0.4s ease;
  
}


  
    
    